<form method="GET" action="/search">

  <div class="form-group">
    <label for="searchstring">Search String</label>
    <input type="text" class="form-control" id="searchstring" name = "searchterm" placeholder = 'Enter the app name'>
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>